= form.inputs do
  = form.input :title, :label => 'Otsikko'
  = form.input :content, :label => 'Viesti'
  = form.input :commentable, :label => 'Kohde', :as => :select, :collection => Section.find(:all, :conditions => ["parent_id NOT NULL"], :select => [:id, :name])
  = form.input :author, :label => 'Kirjoittaja'
  = form.input :email, :label => 'Sähköposti'

