%h1 Kommentit
%p= link_to 'Luo uusi vieraskijamerkintä', new_admin_comment_path

%table
  %thead
    %tr
      %th= 'Joukkueosio'
      %th= 'Aika'
      %th= 'Otsikko'
      %th= 'Kirjoittaja'
      %th{:colspan => 25}= 'Toiminnot'
  
  %tbody
    - for comment in @admin_comments
      %tr{ :class => cycle(:odd, :even), :id => "comment-#{comment.id}" }
        %td= comment.commentable
        %td= comment.created_at
        %td= comment.title
        %td= comment.author
        %td.action= link_to 'Muokkaa', edit_admin_comment_path(comment)
        %td.action= link_to 'Poista', admin_comment_path(comment),
          :confirm => "Haluatko varmasti poistaa viestin \"#{comment.title}\"?", :method => :delete

= will_paginate @admin_comments