%header
  %h1 Vieraskirja

= section_selection

= will_paginate @comments, :next_label => "Seuraava", :previous_label => "Edellinen"

- @comments.each do |comment|
  %article
    %header
      %h1{:class => 'postTitle'}= comment
      %p.meta
        = comment.author
        %time{:datetime => html5_datetime(comment.created_at)}= comment.created_at
        = link_to image_tag('pencil.png', :size => '16x16'), edit_admin_comment_path(comment), :title => 'Muokkaa'
        = link_to image_tag('cross.png', :size => '16x16'), admin_comment_path(comment), :title => 'Poista',
          :confirm => "Haluatko varmasti poistaa vieraskirjaviestin?", :method => :delete
      
      %p= comment.content

= will_paginate @comments, :next_label => "Seuraava", :previous_label => "Edellinen"
