= semantic_form_for @member, :url => url do |form|
  = form.inputs do
    = form.input :first_name, :label => 'Etunimi'
    = form.input :last_name, :label => 'Sukunimi'
    = form.input :gender, :as => :radio, :label => 'Sukupuoli', :collection => {'Mies' => true, 'Nainen' => false}
    = form.input :birth_year, :label => 'Syntymävuosi'
    = form.input :number, :label => 'Numero'
  
  = form.buttons do
    = form.commit_button :label => 'Tallenna'