= semantic_form_for @member, :url => url, :html => { :multipart => true } do |form|
  
  %h2 Perustiedot
  = form.inputs do
    = form.input :first_name, :label => 'Etunimi'
    = form.input :last_name, :label => 'Sukunimi'
    = form.input :gender, :as => :radio, :label => 'Sukupuoli', :collection => {'Mies' => true, 'Nainen' => false}
    = form.input :birth_year, :label => 'Syntymävuosi'
    = form.input :home_municipality, :label => 'Kotikunta'
    = form.input :number, :label => 'Numero'
    = form.input :position, :as => :select, :label => 'Pelipaikka', :include_blank => false,
      :collection => t("member.position").invert
      
    = form.input :shoots, :as => :select, :label => 'Kätisyys', :include_blank => true,
      :collection => t("member.shoots").invert
      
    = image_tag @member.photo.url(:normal)
    = form.input :photo, :label => 'Kuva'
  #questions
    %h2 Kysymykset
    = form.semantic_fields_for :questions do |q|
      = q.inputs do
        = q.input :content, :label => "Kysymys", :wrapper_html => { :class => "inline-input" }, :input_html => {:class => 'question'}
        = q.input :answer, :label => "Vastaus", :wrapper_html => { :class => "inline-input" }

  = form.buttons do
    = form.commit_button :label => 'Tallenna'
    
  - content_for :javascript do
    = javascript_include_tag "qa_item_handler.js"
    :javascript
      $(document).ready(function() {
        var availableQuestions = #{make_string_array @questions}
        questions = new QAItemHandler($('#questions'), availableQuestions);
        questions.init();
      });
