= semantic_form_for @admin_season, :url => url do |form| 
  = form.inputs do
    = form.input :section, :as => :select, :label => "Joukkueosio",
      :collection => Section.find(:all, :conditions => ["parent_id NOT NULL"])      
    = form.input :start_year, :label => "Aloitusvuosi"
    = form.input :division, :label => 'Divisioona'
    
  = form.semantic_fields_for :partitions do |p|
    = p.inputs do
      = p.input :name, :label => "Kausiosio"

  = form.buttons do
    = form.commit_button :label => 'Tallenna'