- semantic_form_for @admin_season, :url => url do |form| 
  - form.inputs do
    = form.input :division, :label => 'Division'
    = form.input :history, :label => 'History'
    = form.input :section, :as => :select, :collection => Section.find(:all, :conditions => ["parent_id NOT NULL"])
    = form.input :start_year, :label => "Start year"
  
  - form.buttons do
    = form.commit_button
