%h1 Muokkaa kautta #{@season}

#contextNavi
  = link_to image_tag('arrow_left.png', :size => '16x16'), admin_seasons_path
  = link_to 'Takaisin', admin_seasons_path

= semantic_form_for @season, :url => admin_season_path(@season) do |form| 
  = form.inputs do
    = form.input :section, :as => :select, :label => "Joukkueosio",
      :collection => Section.leafs, :include_blank => false
    = form.input :start_year, :label => "Aloitusvuosi"
    = form.input :division, :label => 'Divisioona'

  = form.buttons do
    = form.commit_button :label => 'Tallenna'