%h1 Muokkaa kautta #{@season}

#contextNavi
  = link_to image_tag('arrow_left.png', :size => '16x16'), admin_seasons_path
  = link_to 'Takaisin', admin_seasons_path

= semantic_form_for @season, :url => admin_season_path(@season) do |form| 
  = form.inputs do
    = form.input :start_year, :label => "Aloitusvuosi", :input_html => { :maxlength => 4 }
    = form.input :division, :label => 'Divisioona'

  = form.actions do
    = form.action :submit, :label => 'Tallenna'
