%h1= "Luo uusi kausi"

#contextNavi
  = link_to image_tag('arrow_left.png', :size => '16x16'), admin_seasons_path
  = link_to "Takaisin", admin_seasons_path

= semantic_form_for @season, :url => admin_seasons_path do |form| 
  = form.inputs do
    = form.input :section, :as => :select, :label => "Joukkueosio",
      :collection => Section.leafs, :include_blank => false
    = form.input :start_year, :label => "Aloitusvuosi"
    = form.input :division, :label => 'Divisioona'
    
  = form.semantic_fields_for :partitions do |p|
    = p.inputs do
      = p.input :name, :label => "Kausiosio"

  = form.buttons do
    = form.commit_button :label => 'Tallenna'