%h1 #{@partition.season.section}: Sarjataulukko kaudella #{@partition.season}
%h2 #{@partition}

#contextNavi
  = link_to image_tag('arrow_left.png', :size => '16x16'), admin_partition_path(@partition)
  = link_to 'Takaisin', admin_partition_path(@partition)

= form_tag(update_multiple_admin_partition_team_standings_path(@partition), :method => 'put') do
  %table
    %thead
      %tr
        %th 
        %th V
        %th T
        %th H
        %th MS
      %tbody
        - for standing in @standings
          %tr{ :class => [cycle(:odd, :even), !standing.errors.empty? && "row_contains_errors"] }
            %td= standing
            %td= number_field_tag "standings[#{standing.id}][wins]", standing.wins, :size => 3, :in => 0...300
            %td= number_field_tag "standings[#{standing.id}][overtimes]", standing.overtimes, :size => 3, :in => 0...300
            %td= number_field_tag "standings[#{standing.id}][losses]", standing.losses, :size => 3, :in => 0...300
            %td
              = number_field_tag("standings[#{standing.id}][goals_for]", standing.goals_for, :size => 3, :in => 0...300) + "-"
              = number_field_tag "standings[#{standing.id}][goals_against]", standing.goals_against, :size => 3, :in => 0...300
  = submit_tag 'Tallenna'