%h1 Ajankohtaista

#contextNavi
  %a{:href => new_admin_news_path, :title => 'Luo uusi uutinen'}= image_tag('add.png')
  %a{:href => new_admin_news_path}= 'Luo uusi uutinen'
  
= section_selection

%h2 Uutiset
%table
  %thead
    %tr
      %th Otsikko
      %th Aika
      %th{:colspan => 2}= 'Toiminnot'
      
  %tbody
    - @news.each do |news_post|
      %tr{ :class => cycle(:odd, :even) }

        %td= news_post
        %td= news_post.created_at
        %td.action= link_to image_tag('pencil.png'), edit_admin_news_path(news_post), :title => 'Muokkaa'
        %td.action= link_to image_tag('cross.png'), admin_news_path(news_post), :title => 'Poista',
          :confirm => "Haluatko varmasti poistaa uutisen \"#{news_post}\"?", :method => :delete