%h1= t '.title'

#contextNavi
  = link_to image_tag('arrow_left.png', :size => '16x16'), admin_news_index_path
  = link_to 'Takaisin', admin_news_index_path

= semantic_form_for @news, :url => admin_news_index_path do |form| 
  = render :partial => 'form', :object => form
  = form.buttons do
    = form.commit_button :label => 'Luo uusi'
