%h1 #{@partition} kaudella #{@partition.season} 

#contextNavi
  = link_to image_tag('arrow_left.png', :size => '16x16'), admin_seasons_path
  = link_to 'Takaisin', admin_seasons_path
  \|
  = link_to_if @partition.team_standings.count > 1, 'Sarjataulukko', edit_multiple_admin_season_partition_team_standings_path(@partition.season, @partition)
  \|
  = link_to_if @partition.team_standings.count > 1, 'Ottelut', admin_season_partition_matches_path(@partition.season, @partition)

%h2 Joukkueet
%p
  %a{:href => new_admin_season_partition_team_standing_path(@partition.season, @partition), :title => 'Luo uusi joukkue'}= image_tag('add.png')
  %a{:href => new_admin_season_partition_team_standing_path(@partition.season, @partition)}= 'Luo uusi joukkue'
  
%table
  - for team in @partition.team_standings
    %tr{ :class => cycle(:odd, :even) }
      %td= team