%h1 Muokkaa ottelua #{@match}

#contextNavi
  = link_to image_tag('arrow_left.png', :size => '16x16'), admin_season_partition_matches_path
  = link_to 'Takaisin', admin_season_partition_matches_path

= semantic_form_for @match, :url => admin_season_partition_match_path(@season, @partition) do |form| 
  = form.inputs do
    = form.input :start_time, :label => 'Päiväys', :include_blank => false, :order => [:day, :month, :year],
      :start_year => @season.start_year, :end_year => @season.start_year + 1
    = form.semantic_errors
    
    = form.input :home_team, :as => :select, :label => "Kotijoukkue",
      :collection => @partition.team_standings, :include_blank => false
    = form.input :home_goals, :label => "Maalit", :input_html => { :size => 3 }
    
    = form.input :visitor_team, :as => :select, :label => "Vierasjoukkue",
      :collection => @partition.team_standings, :include_blank => false
    = form.input :visitor_goals, :label => "Maalit", :input_html => { :size => 3 }
    
    = form.input :location, :label => 'Sijainti'
    = form.input :report, :label => 'Otteluraportti'    

  = form.buttons do
    = form.commit_button :label => 'Tallenna'