%h1 #{@partition.season.section}: #{@partition}-ottelut kaudella #{@partition.season} 

%nav#contextNavi
  = link_to image_tag('arrow_left.png', :size => '16x16'), admin_partition_path(@partition)
  = link_to 'Takaisin', admin_partition_path(@partition)
  \|
  = link_to image_tag('add.png', :size => '16x16'), new_admin_partition_match_path, :title => 'Luo uusi joukkueosio'
  = link_to "Luo uusi ottelu", new_admin_partition_match_path, :title => 'Luo uusi joukkueosio'

%table
  %tr
    %th Päivä
    %th Koti
    %th Vieras
    %th Tulos
    %th{:colspan => 2}

  - @matches.each do |match|
    %tr
      %td= match.start_time
      %td= match.home_team
      %td= match.visitor_team
      %td= match.result
      %td.action= link_to image_tag('pencil.png'), edit_admin_partition_match_path(@partition, match),
        :title => 'Muokkaa'
      %td.action= link_to image_tag('cross.png'), admin_partition_match_path(@partition, match),
        :confirm => 'Haluatko varmasti poistaa ottelun?', :method => :delete, :title => 'Poista'