%header
  %h1 Uusi ottelu

%nav#contextNavi
  = link_to image_tag('arrow_left.png', :size => '16x16'), admin_partition_matches_path
  = link_to 'Takaisin', admin_partition_matches_path

= semantic_form_for @match, :url => admin_partition_matches_path(@partition) do |form| 
  = form.inputs do
    = form.input :start_time, :label => 'Päiväys', :include_blank => false, :order => [:day, :month, :year],
      :start_year => @partition.season.start_year, :end_year => @partition.season.start_year + 1
    = form.semantic_errors
    = form.input :home_team, :as => :select, :label => "Kotijoukkue",
      :collection => @partition.team_standings, :include_blank => false
    = form.input :visitor_team, :as => :select, :label => "Vierasjoukkue",
      :collection => @partition.team_standings, :include_blank => false
    = form.input :location, :label => 'Sijainti'

  = form.buttons do
    = form.commit_button :label => 'Tallenna'