%ul
  %li= link_to 'Ajankohtaista', admin_news_index_path
  %li= link_to 'Kaudet', admin_seasons_path
  %li= link_to 'Tilastot', admin_latest_standings_path
  %li= link_to 'Vieraskirja', admin_comments_path
  %li= link_to 'Pelaajat', admin_members_path
  %li= link_to 'Joukkue', admin_current_team_path
  %li= link_to 'Linkit', admin_link_categories_path