!!!
%html
  %head
    %meta{ :charset => 'UTF-8' }
    %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}/
    %title= "ISB Admin" + controller.controller_name.capitalize
    = csrf_meta_tag
    = stylesheet_link_tag "admin_style.css", "formtastic.css", "formtastic_changes.css"
    = javascript_include_tag :defaults
  %body
    .header#header
      = render :partial => 'layouts/admin/header'
    .menu#menu= render :partial => 'layouts/admin/menu'

    #content
      #notice= flash[:alert] || flash[:notice]
      = yield
      
    #footer
      Ilmajoen Salibandy - 
      %a{:href => 'http://www.famfamfam.com/lab/icons/silk/'} Silk Icon Set by Mark James