!!!
%html
  <!--[if lt IE 7 ]> <html lang="fi" class="no-js ie6"> <![endif]-->
  <!--[if IE 7 ]>    <html lang="fi" class="no-js ie7"> <![endif]-->
  <!--[if IE 8 ]>    <html lang="fi" class="no-js ie8"> <![endif]-->
  <!--[if IE 9 ]>    <html lang="fi" class="no-js ie9"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <html lang="fi" class="no-js"> <!--<![endif]-->
  %head
    %meta{ :charset => 'UTF-8' }
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }
    %meta{ :name => "description", :content => "" }
    %meta{ :name => "author", :content => "" }
    
    %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}/
    %title= "ISB Hallintasivut - " + controller.controller_name.capitalize
    = csrf_meta_tag
    = javascript_include_tag "modernizr-1.7.min"
    = stylesheet_link_tag "boilerplate", "formtastic.css", "formtastic_changes.css", "admin_style.css", "admin_section_selection"
  
  %body
    #wrapper
      #header-wrapper
        %header#main.center-wrap
          = render :partial => 'layouts/admin/header'
          %nav#global= render_navigation(:level => 1, :context => :admin)        
      
      #main-wrapper.center-wrap
        %section#content
          - unless flash.notice.blank?
            #notice
              = image_tag('accept.png', :size => '16x16')
              = flash.notice
          - unless flash.alert.blank?
            #alert
              = image_tag('error.png', :size => '16x16')
              = flash.alert
          = yield

    %footer
      #footer.center-wrap
        Ilmajoen Salibandy - Ikonit tarjoaa: 
        %a{:href => 'http://www.famfamfam.com/lab/icons/silk/'} Silk Icon Set by Mark James
      
  %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"}
  = javascript_tag %{!window.jQuery && document.write(unescape('%3Cscript src="/javascripts/jquery.min.js"%3E%3C/script%3E'))}
  = javascript_include_tag "rails.js", "jquery-ui.min"
  = yield :javascript