%h1 Linkkikategoriat

= section_selection
#contextNavi
  = link_to image_tag('add.png', :size => '16x16'), new_admin_link_category_path
  = link_to 'Luo uusi linkkikategoria', new_admin_link_category_path

%table
  %tr
    %th
    %th
    %th

  - @link_categories.each do |link_category|
    %tr
      %td= link_to link_category, admin_link_category_path(link_category)
      %td= link_to image_tag('pencil.png'), edit_admin_link_category_path(link_category)
      %td= link_to image_tag('cross.png'), admin_link_category_path(link_category),
        :confirm => 'Kaikki linkit poistetaan samalla. Haluatko varmasti poistaa linkkikategorian?',
        :method => :delete