%h1 Listing link_categories

%table
  %tr
    %th Name
    %th Section
    %th
    %th
    %th

  - @link_categories.each do |link_category|
    %tr
      %td= link_category.name
      %td= link_category.section
      %td= link_to 'Show', link_category
      %td= link_to 'Edit', edit_link_category_path(link_category)
      %td= link_to 'Destroy', link_category, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Link category', new_link_category_path
