= semantic_form_for @section, :url => url do |form| 
  = form.inputs do
    = form.input :slug, :label => 'Slug'
    = form.input :name, :label => 'Nimi'
    = form.input :picasa_user_id, :label => 'Käyttäjätunnus Picasassa'
    = form.input :is_visible, :label => 'Näkyvillä'
  
  = form.actions do
    = form.action :submit, :label => 'Tallenna'
