%header
  %h1 Joukkueosiot

%nav#contextNavi
  %a{:href => new_admin_section_path, :title => 'Luo uusi joukkueosio'}= image_tag('add.png', :size => '16x16')
  %a{:href => new_admin_section_path}= 'Luo uusi joukkueosio'

%table
  %thead
    %tr
      %th Joukkueosio
      %th Muokkaa
      %th Yhteystiedot
  %tbody
    - @sections.each do |section|
      %tr
        %td= section
        %td.action= link_to image_tag('pencil.png', :size => '16x16'), edit_admin_section_path(section), :title => 'Muokkaa'
        %td.action= link_to image_tag('telephone_edit.png', :size => '16x16'), edit_contact_admin_section_path(section), :title => 'Muokkaa'
