= semantic_form_for @link, :url => url do |form|
  = form.inputs do
    = form.input :name, :label => "Nimi"
    = form.input :url, :label => "Osoite"

  = form.buttons do
    = form.commit_button :label => 'Tallenna'