%h2 Unohditko salasanasi?

= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  = devise_error_messages!
  %p
    = f.label :email, "Sähköposti"
    %br/
    = f.email_field :email
  %p= f.submit "Nollaa salasanani"
= render :partial => "devise/shared/links"
