#frontpage-banner
  = image_tag 'banner.jpg', :size => '966x426'
  #frontpage-banner-caption
    = "Sähäkkää salibandyä Ilmajoelta"

%section#frontpage-news
  %h1 Tuoreimmat uutiset
  - @news.each do |news_post|
    .entry
      %h2= link_to news_post, news_post_path(news_post)
      .meta
        %time{:datetime => html5_datetime(news_post.created_at)}= news_post.created_at
        = " | "
        = section_link_list_for news_post.sections

%section#frontpage-matches
  %h1 Kuukauden ottelut
  - unless @upcoming_matches.blank?
    - @upcoming_matches.each do |match|
      .entry
        %h2= link_to match, match_path(match.partition.season.section.slug, match)
        .meta
          = "#{match.partition.season.section} |"
          %time{:datetime => html5_datetime(match.start_time)}= match.start_time
  - else
    = "Ei tulevia otteluita."