- title @news.title
- description truncate(@news.content, :length => 120, :separator => ' ')

%article{:id => 'news', :class => 'basic-box' }
  %header
    %h1= @news
  %div.meta
    %time{:datetime => html5_datetime(@news.created_at), :pubdate => :pubdate}= @news.created_at
    = " | "
    = @news.sections.to_sentence :two_words_connector => " ja ", :last_word_connector => ", ja "
  = simple_format(auto_link(h(@news.content)))
