%h1 #{@partition} pistepörssi kaudella #{@season}

#contextNavi
  = link_to image_tag('arrow_left.png', :size => '16x16'), admin_season_partition_path(@season, @partition)
  = link_to 'Takaisin', admin_season_partition_path(@season, @partition)

= form_tag(update_multiple_admin_season_partition_statistics_path(@season, @partition), :method => 'put') do
  %table
    %thead
      %tr
        %th
        %th O 
        %th M
        %th S
        %th J
      %tbody
        - for statistic in @statistics
          %tr{ :class => [cycle(:odd, :even), !statistic.errors.empty? && "row_contains_errors"] }
            %td= statistic.member
            %td= number_field_tag "statistics[#{statistic.id}][matches]", statistic.matches, :size => 3, :in => 0...300
            %td= number_field_tag "statistics[#{statistic.id}][goals]", statistic.goals, :size => 3, :in => 0...300
            %td= number_field_tag "statistics[#{statistic.id}][assists]", statistic.assists, :size => 3, :in => 0...300
            %td= number_field_tag "statistics[#{statistic.id}][pim]", statistic.pim, :size => 3, :in => 0...300
  = submit_tag 'Tallenna'