= semantic_form_for @sponsor, :url => url, :html => { :multipart => true } do |form|
  = form.inputs do
    = form.input :name, :label => 'Nimi'
    = form.input :url, :label => 'Osoite'
    
    - if @sponsor.logo.file?
      = image_tag @sponsor.logo.url(:normal)
      
    %p= "Sponsorialueen taustaväri on #ECECEC. Eli jos haluat logokuvan taustan yhteneväksi sivun kanssa, niin muokkaa kuvan taustaväriksi #ECECEC tai läpinäkyvä, jos kuvaformaatti tukee sitä."
    = form.input :logo
    %p= "Kuva pienennetään 190x190 kokoiseksi."
    
  = form.actions do
    = form.action :submit, :label => 'Tallenna'
