- if matches.size > 0
  - matches.each do |match|
    .entry
      %div= link_to_unless match.report.blank?, "#{match} #{match.result}", match_path(@section.slug, match)
      %meta
        %time{:datetime => html5_datetime(match.start_time)}= match.start_time
        = " | #{match.location}"