- if partition and partition.team_standings.count > 0
  %table#statistics
    %thead
      %tr
        %th
        %th O
        %th V
        %th T
        %th H
        %th P
        %th MS
      %tbody
        - for standing in partition.team_standings
          %tr{ :class => cycle(:odd, :even) }
            %td= standing
            %td= standing.games_played
            %td= standing.wins
            %td= standing.overtimes
            %td= standing.losses
            %td= standing.points
            %td= "#{standing.goals_for}-#{standing.goals_against}"
