%header
  %h1 Vieraskirja
  
= paginate @messages, :theme => 'main_site_theme'
  
- @messages.each do |message|
  %article.entry
    %h2= "#{message.author}: #{message.title}"
    %time.meta{:datetime => html5_datetime(message.created_at)}= message.created_at
    = auto_link(simple_format(h(message.content)), :link => :urls, :html => { :ref => 'nofollow' }).html_safe

= paginate @messages, :theme => 'main_site_theme'
