%header
  %h1 Vieraskirja
  
= link_to "Kirjoita viesti", new_guestbook_message_path(@section.slug)
  
= paginate @messages
  
- @messages.each do |message|
  %article
    %h2= message
    %meta
      = message.author
      = " - "
      %time{:datetime => html5_datetime(message.created_at)}= message.created_at
    %p= message.content

= paginate @messages