%header
  %h1 Vieraskirja
  
= paginate @messages
  
- @messages.each do |message|
  %article.entry
    %h2= "#{message.author}: #{message.title}"
    %time.meta{:datetime => html5_datetime(message.created_at)}= message.created_at
    = simple_format(auto_link(h(message.content)))

= paginate @messages