%header
  - if @matches.size > 0
    %h1= "Ottelut kaudella #{@partition.season}, #{@partition}"
  - else
    %h1= "Ei tiedossa olevia otteluita"

= render :partial => 'section/matches', :locals => { :matches => @matches }
