- content_for :javascript do
  :javascript
    $(document).ready(function() {
      $('#comment_honeypot').val('#{Comment::HONEYPOT_SECRET}');
    });

%header
  %h1 Kirjoita vieraskirjaan
  
= semantic_form_for @message, :url => guestbook_path(@section.slug) do |form|
  = text_field_tag 'comment[honeypot]', nil, :class => 'honeypot'
  
  = form.inputs do
    = form.input :author, :label => 'Kirjoittaja', :input_html => { :size => 40 }
    = form.input :title, :label => 'Otsikko', :input_html => { :size => 60 }
    = form.input :email, :label => 'Sähköposti', :input_html => { :size => 256 }
    = form.input :content, :label => 'Viesti', :input_html => { :rows => 10, :cols => 70 }
  
  = form.buttons do
    = form.commit_button "Tallenna"
