%header
  %h1 Ajankohtaista

- @news.each do |news_post|
  .entry
    %h2= link_to news_post, news_path(news_post)
    %meta
      %time{:datetime => html5_datetime(news_post.created_at)}= news_post.created_at
      = " | "
      = news_post.sections.to_sentence :two_words_connector => " ja ", :last_word_connector => ", ja "
      %p= truncate(news_post.content, :length => 120, :separator => ' ')