%header
  %h1 Ajankohtaista

= paginate @news, :theme => 'main_site_theme'

- @news.each do |news_post|
  %article.entry
    %h2.news= link_to news_post, show_news_post_path(@section.slug, news_post)
    %time.meta{:datetime => html5_datetime(news_post.created_at)}= news_post.created_at
    %p= truncate(news_post.content, :length => 120, :separator => ' ')
    
= paginate @news, :theme => 'main_site_theme'
