%h1 Kokoonpano kaudella #{@season}

%p= link_to 'Takaisin', admin_seasons_path

.member_column
  %h2 Kaikki jäsenet
  %ul#unassigned_members
    - @unassigned_members.each do |member|
      %li{:id => "#{@season.id}-#{member.id}"}= member

.member_column
  %h2 Pelaajat
  %ul#players
    - @players.each do |player|
      %li{:id => "#{@season.id}-#{player.id}"}= player