- content_for :javascript do
  = javascript_include_tag "dragdrop.js", "text-change.js", "member_search.js"
  :javascript
    $(document).ready(function() {
      ddManager = new DragDropManager();
      ddManager.init({moveable_element: 'draggable-elements', 
                    receiving_element: 'drop-place',
                    remote: { url: {base: "/admin/seasons/#{@season.id}/roles", format: ".js"}}
                    });
                    
      search = new MemberSearch()
    });

%h1 Joukkue kaudella #{@season}

%nav#contextNavi
  = link_to image_tag('arrow_left.png', :size => '16x16'), admin_season_path(@season)
  = link_to 'Takaisin', admin_season_path(@season)

.note= "Huom. Muutokset tallentuvat heti, kun pelaaja raahataan johonkin laatikoista."

#member-selection
  .member-column
    %h2 Kaikki jäsenet
    
    %div#member-search
      %label{:for => :member_filter}= "Hae nimellä:"
      = search_field_tag :member_filter

    %ul{:class => "drop-place draggable-elements", :id => "role-"}
      - @unassigned_members.each do |member|
        %li{:id => "id-#{member.id}"}= member

  .selected-team
    %h2 Joukkueeseen valitut
    .member-column
      %h3 Pelaajat
      %ul{:class => "drop-place draggable-elements", :id => "role-player"}
        - @players.each do |player|
          %li{:id => "id-#{player.id}"}= player

    .member-column
      %h3 Valmentajat
      %ul{:class => "drop-place draggable-elements", :id => "role-coach"}
        - @coaches.each do |coach|
          %li{:id => "id-#{coach.id}"}= coach

    .member-column
      %h3 Joukkeenjohto
      %ul{:class => "drop-place draggable-elements", :id => "role-assistant"}
        - @assistants.each do |assistant|
          %li{:id => "id-#{assistant.id}"}= assistant
