.center-wrapper
  %p © Ilmajoen salibandy 2011

%aside.center-wrapper
  %ul#supporter-carousel
    %li= link_to image_tag("/images/supporters/eepee.gif", :size => '190x39'), "http://www.eepee.fi/", :rel => "nofollow", :title => "Etelä-Pohjanmaan Osuuskauppa"
    %li= link_to image_tag("/images/supporters/intersport.gif", :size => '190x55'), "http://www.intersport.fi/", :rel => "nofollow", :title => "Intersport"
    %li= link_to image_tag("/images/supporters/nordea_logo.gif", :size => '150x39'), "http://www.nordea.fi/", :rel => "nofollow", :title => "Nordea"
    %li= link_to image_tag("/images/supporters/botniakorro.gif", :size => '190x28'), "http://www.botnia-korro.fi/", :rel => "nofollow", :title => "Botnia-Korro Oy"
    %li= link_to image_tag("/images/supporters/kora_logo.png", :size => '146x130'), "http://sahkoa.net/", :rel => "nofollow", :title => "KORA Installations Oy"
    %li= link_to image_tag("/images/supporters/piikki_logo.png", :size => '146x67'), "http://www.pizzeriapiikki.fi/", :rel => "nofollow", :title => "Pizzeria Piikki"
    %li= link_to image_tag("/images/supporters/lemminkainen_logo.png", :size => '190x48'), "http://www.lemminkainen.fi/", :rel => "nofollow", :title => "Lemminkäinen Oyj"
    %li= image_tag("/images/supporters/ilmajoen_apteekki.gif", :size => '190x42')
    %li= link_to image_tag("/images/supporters/carozel.png", :size => '190x88'), "http://www.carozel.fi/", :rel => "nofollow", :title => "Carozel"