%nav{ :id => 'global-nav', :class => 'center-wrapper' }
  %ul.topnav
    %li= link_to 'Etusivu', '/'
    - Section.top_level.each do |top_level_section|
      %li
        = link_to top_level_section, '#'
        %ul.subnav
          - top_level_section.sections.each do |child|
            %li.section= link_to child, section_news_path(child.slug)
            %li= link_to 'Vieraskirja', guestbook_path(child.slug)
            %li= link_to 'Sarjataulukko', standings_path(child.slug)
            %li= link_to 'Tilastot', statistics_path(child.slug)