%nav{ :id => 'global-nav', :class => 'center-wrapper' }
  %ul.topnav
    %li= link_to 'Etusivu', '/'
    - SectionGroup.all.each do |group|
      %li
        = link_to group, '#'
        %ul.subnav
          - group.sections.each do |section|
            %li.section= link_to section, section_news_path(section.slug)
            %li= link_to 'Vieraskirja', guestbook_path(section.slug)
            %li= link_to 'Sarjataulukko', standings_path(section.slug)
            %li= link_to 'Pistepörssi', statistics_path(section.slug)
