%nav{ :id => 'global-nav', :class => 'center-wrapper' }
  %ul.topnav
    %li= link_to 'Etusivu', '/'
    %li
      = link_to 'Miehet', '#'
      %ul.subnav
        %li.section= link_to 'Edustus', '#'
        %li= link_to 'Ajankohtaista', '#'
        %li.section= link_to 'Miehet II', '#'