%h1= @section

%ul
  %li= create_menu_item 'Ajankohtaista', :news
  %li= create_menu_item 'Vieraskirja', :guestbook
  %li= create_menu_item 'Ottelut', :matches
  %li= create_menu_item 'Linkit', :links
  %li hoo