!!!
%html
  = render :partial => 'layouts/head'
  
  %body
    #container
      #top= render :partial => 'layouts/global_nav'
      #main-header= render :partial => 'layouts/header'
      .center-wrapper
        #main-container
          %nav#section-nav= render :partial => 'layouts/section_nav'
          %section#main= yield
          
    %footer= render :partial => 'layouts/footer'
    
  = javascript_include_tag "application", "jquery.jcarousel.min", "hoverIntent"
