!!!
%html
  = render :partial => 'layouts/head'
  
  %body
    - # Facebook API
    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/fi_FI/all.js#xfbml=1&appId=110869885671470";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    #container
      = render :partial => 'layouts/header'
      %nav{ :id => 'global-sub-nav'}
        = render_navigation(:context => :global, :items => generate_global_menu_items, :level => 2)
      
      #main-container
        %nav{ :id => 'section-nav' }
          = render_navigation(:level => 1..2, :context => :section)
        
        %section{ :id => 'main', :class => 'basic-box' }= yield
      %footer= render :partial => 'layouts/footer'
    
  = javascript_include_tag "application"
  = yield :javascript
