!!!
%html
  = render :partial => 'layouts/head'
    
  %body
    #container 
      = render :partial => 'layouts/header'
      %div{:id => "main-container"}= yield
      %footer= render :partial => 'layouts/footer'

  = javascript_include_tag "application"