!!!
%html
  = render :partial => 'layouts/head'
    
  %body
    #container 
      #main-header= render :partial => 'layouts/header'
      %div{:class => "center-wrapper", :id => "main-container"}= yield

    %footer= render :partial => 'layouts/footer'

  = javascript_include_tag "application"