!!!
%html
  = render :partial => 'layouts/head'
    
  %body
    #container
      #top= render :partial => 'layouts/global_nav'
      #main-header= render :partial => 'layouts/header'
      %div{:class => "center-wrapper", :id => "main-container"}= yield

    %footer= render :partial => 'layouts/footer'

  = javascript_include_tag "application", "jquery.jcarousel.min", "hoverIntent"